html {
    font-family: 'Russo One', sans-serif;
    font-size: 16px;
}

body {
    background-color: #132043;
    color: #F1B4BB;
}

.title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

.title h1 {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 2rem;
}

.text {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

/* Heart */

.heart-container {
    position: relative;
    width: 25px;
    height: 40px;
    /* margin: 30vh auto; */
  }
  
  .heart {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-45deg);
    transition: transform 0.5s;
    animation: heartbeat 1s infinite alternate;
    cursor: pointer;
  }
  
  .heart:before,
  .heart:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 100px 100px 0 0;
    position: absolute;
    background-color: #e74c3c;
    box-shadow: -10px 6px 10px -2px rgba(0, 0, 0, 0.25);
  }
  
  .heart:before {
    left: 44%;
    top: 0;
    transform: scale(-1) rotate(225deg);
  }
  
  .heart:after {
    left: 0;
    top: 0;
    transform: scale(-1) rotate(-225deg);
  }
  
  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .heart:hover:before,
  .heart:hover:after {
    background-color: darkred;
    box-shadow: none;
    transition: 2.5s all;
  }
  
  .heart-container:active {
    transform: scale(0);
    transition: 3s all;
  }
  

  /* Button */

  .button-82-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  .button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%
    );
  }
  
  .button-82-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }

  .text {
    font-family: 'Russo One', sans-serif;
  }
  
  @media (min-width: 768px) {
    .button-82-front {
      font-size: 1.25rem;
      padding: 12px 42px;
    }
  }
  
  .button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
  }
  
  .button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .button-82-pushable:focus:not(:focus-visible) {
    outline: none;
  }
 
  /* correct choice */

  .choice-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .choice-container button {
    max-width: 250px;
  }

  h2 {
    font-size: 1.2rem;
    margin-top: 20px;
  }

  .images {
    margin-top: 1rem;
    position: relative;
  }

  .images img {
    width: 300px;
    height: 250px;
  }

  .messi {
    position: absolute;
    top: 0;
    left: 0;
  }

  #messi {
    opacity: 1;
  }

  #images-block {
    display: none;
  }

  #first-line {
    display: none;
  }

  #second-line {
    display: none;
  }

  #third-line {
    display: none;
  }

  /* incorrect choice */

  .incorrect-choice {
    margin-top: 6rem;
  }

  #incorrect-click {
    margin-bottom: 20px;
  }

  .incorrect-choice h2 {
    margin-top: 10px;
  }


  .make-fun-container {
    display: none;
    flex-direction: column;
    align-items: center;
  }


  #point {
    width: 300px;
    margin-bottom: 30px;
  }